body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("wallpaper.jpeg");
    background-size: cover;
    background-color: #282c34;
    color: rgb(250, 28, 28);
    font-family: 'Arial', sans-serif;
}

.Clock-container {
    text-align: center;
}

#Clock {
    font-size: 4rem;
    margin-top: 20px;
}

.day, .date {
    font-size: 1.5em;
    margin: 5px 0;
}
