body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.save-task{
display: flex;
order: 1;
text-align: center;
align-items: center;
justify-content: center;
}
.todo-container {
  background: white;
  order: 2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}
.input-container {
  display: flex;
  gap: 10px;
}
.input-container input {
  flex: 1;
  padding: 8px;
}
.input-container button {
  padding: 8px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
.task-buttons {
  margin: 10px 0;
}
.task-buttons button {
  background-color: yellow;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eaeaea;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}
li button {
  border: none;
  padding: 5px;
  cursor: pointer;
}
.dark-mode {
  background-color: rgb(15, 1, 1);
  color: white;
}

.edit {
  background-color: blue;
  color: white;
}
.delete {
  background-color: red;
  color: white;
}