*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
width: 100%;
height: 100%;
background-color: aqua;
}
h1{
 text-align: center;
background-color: blue;
color: brown;
height: auto;
width: auto;
padding-left: 50px;
}
body{
color: black;
background-color: blue;
}
button{
color: red;
color: blue;
}