/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 20px;
    color: white;
}

 .nav-logo img {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    padding-bottom: 500px;
}

.search-bar input {
    display: flex;
    width: 400px;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
}

 .search-bar button {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.user-options button {
    margin-left: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Main Content */
main {
    margin: 20px;
}

.banner img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: 22%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product p {
    margin: 10px 0;
}

footer {
    background-color: #2874f0;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
